<section class="album-covers container clearfix">
  <div class="collection-album-container column fourth" ng-repeat="album in collection.albums">
    <img src="{{album.albumArtUrl}}">
    <div class="collection-album-container caption">
      <p>
        <a ui-sref="album" class="album-name">{{album.title}}</a>
        <br/>
        <a ui-sref="album">{{album.artist}}</a>
        <br/>
        {{album.songs.length}} songs
        <br/>
      </p>
    </div>
  </div>
</section>

<ng-include src="'/templates/player_bar.html'"></ng-include>
